.checkout {
    height: 90vh;
}

h2 {
    font-family: "Anton SC", sans-serif;
}

mat-icon {
    margin-left: 1rem
}

.reviewed-products-error {
    color: red;
    font-size: 14px;
}

.cla {
    width: 48%;
}

.icons-container {
    display: flex;
}



