<div class="text-dark h-100">
  <div class="d-flex align-items-center mt-3">
    <button (click)="this.dialogRef.close()" class="border-0 bg-transparent">
      <mat-icon class="mt-3">keyboard_arrow_left</mat-icon>
    </button>
    <h2 class="m-3 mb-0 text-center">Checkout</h2>
  </div>
  <div class="w-100 d-flex justify-content-center"></div>
  <mat-stepper [linear]="false" #stepper color="accent">
    <mat-step [stepControl]="dataReviewedForm">
      <form [formGroup]="dataReviewedForm">
        <ng-template matStepLabel>Revisá tus productos</ng-template>
        <app-cart-items [isSideCartOpen]="true"></app-cart-items>
        <div class="d-flex flex-column">
          <mat-checkbox
            formControlName="firstCtrl"
            class="example-margin mt-1"
            required
            >Productos revisados</mat-checkbox
          >
          @if (showReviewedError === true &&
          this.dataReviewedForm.get('firstCtrl')?.invalid) {
          <mat-error class="reviewed-products-error"
            >Debes confirmar que los productos
            <strong>han sido revisados</strong> antes de continuar.</mat-error
          >
          }
        </div>
        <div>
          <button
            mat-raised-button
            class="m-3 w-25 bg-dark text-white"
            mat-button
            matStepperNext
            (click)="onNext($event); toStepTwo(); getCountries()"
            type="submit"
            color="primary"
          >
            Siguiente
          </button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="deliveryDataForm">
      <ng-template matStepLabel>Datos de envío</ng-template>
      <form [formGroup]="deliveryDataForm" class="w-100">
        <div
          class="d-flex flex-column justify-content-between mt-1 rounded"
        >
          <div class="d-flex justify-content-between">
            <mat-form-field appearance="outline" class="cla mw-100 mb-0">
              <mat-label>Email</mat-label>
              <input class="border" formControlName="email" type="text" matInput />

              <div matSuffix class="m-2 icons-container">
                <mat-icon>mail</mat-icon>
                @if (deliveryDataForm.get('email')?.valid &&
                (deliveryDataForm.get('email')?.dirty ||
                deliveryDataForm.get('email')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>

              @if (deliveryDataForm.get('email')?.hasError('email') &&
              !deliveryDataForm.get('email')?.hasError('required')) {
              <mat-error class="bg-transparent">Please enter a valid email address</mat-error>
              } @if (deliveryDataForm.get('email')?.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" class="cla mw-100">
              <mat-label class="">Teléfono</mat-label>
              <input formControlName="phoneNumber" matInput />

              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>phone</mat-icon>
                @if (deliveryDataForm.get('phoneNumber')?.valid &&
                (deliveryDataForm.get('phoneNumber')?.dirty ||
                deliveryDataForm.get('phoneNumber')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>
              @if (deliveryDataForm.get('phoneNumber')?.hasError('required')) {
              <mat-error>Teléfono is <strong>required</strong></mat-error>
              } @if (deliveryDataForm.get('phoneNumber')?.hasError('minlength'))
              {
              <mat-error>
                Password should have at least
                <strong>8 characters</strong>
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-between">
            <mat-form-field appearance="outline" class="cla mw-100">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" type="text" matInput />

              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>mail</mat-icon>
                @if (deliveryDataForm.get('email')?.valid &&
                (deliveryDataForm.get('email')?.dirty ||
                deliveryDataForm.get('email')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>

              @if (deliveryDataForm.get('email')?.hasError('email') &&
              !deliveryDataForm.get('email')?.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              } @if (deliveryDataForm.get('email')?.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" class="cla mw-100">
              <mat-label class="">Apellido</mat-label>
              <input formControlName="lastName" matInput />

              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>phone</mat-icon>
                @if (deliveryDataForm.get('phoneNumber')?.valid &&
                (deliveryDataForm.get('phoneNumber')?.dirty ||
                deliveryDataForm.get('phoneNumber')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>
              @if (deliveryDataForm.get('phoneNumber')?.hasError('required')) {
              <mat-error>Teléfono is <strong>required</strong></mat-error>
              } @if (deliveryDataForm.get('phoneNumber')?.hasError('minlength'))
              {
              <mat-error>
                Password should have at least
                <strong>8 characters</strong>
              </mat-error>
              }
            </mat-form-field>
          </div>
        </div>
  
          <div class="d-flex justify-content-between">
            <mat-form-field appearance="outline" class="cla">
              <mat-label>País</mat-label>
              <mat-select
                formControlName="country"
                (selectionChange)="onCountryChange($event)"
              >
                @for (country of countries; track country) {
                <mat-option value="{{ country.geonameId }}">{{
                  country.countryName
                }}</mat-option>
                }
              </mat-select>
              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>flag</mat-icon>
                @if (deliveryDataForm.get('country')?.valid &&
                (deliveryDataForm.get('country')?.dirty ||
                deliveryDataForm.get('country')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>
              @if (deliveryDataForm.get('email')?.hasError('required')) {
              <mat-error>País is <strong>required</strong></mat-error>
              }
            </mat-form-field>
            <mat-form-field appearance="outline" class="cla">
              <mat-label>Estado</mat-label>
              <mat-select
                formControlName="state"
                (selectionChange)="onStateChange($event)"
              >
                @for (state of states; track state) {
                <mat-option value="{{ state.name }}">{{
                  state.name
                }}</mat-option>
                }
              </mat-select>
              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>map</mat-icon>
                @if (deliveryDataForm.get('state')?.valid &&
                (deliveryDataForm.get('state')?.dirty ||
                deliveryDataForm.get('state')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-between mt-1">
            <mat-form-field appearance="outline" class="cla">
              <mat-label>Ciudad</mat-label>
              <mat-select formControlName="city">
                @for (city of cities; track city) {
                <mat-option value="option">{{ city.name }}</mat-option>
                }
                <mat-option value="option">Otra</mat-option>
              </mat-select>
              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>location_city</mat-icon>
                @if (deliveryDataForm.get('city')?.valid &&
                (deliveryDataForm.get('city')?.dirty ||
                deliveryDataForm.get('city')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>
            </mat-form-field>
            <mat-form-field appearance="outline" class="cla mw-100">
              <mat-label class="">Código postal</mat-label>
              <input formControlName="zipCode" matInput />

              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>public</mat-icon>
                @if (deliveryDataForm.get('zipCode')?.valid &&
                (deliveryDataForm.get('zipCode')?.dirty ||
                deliveryDataForm.get('zipCode')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>
              @if (deliveryDataForm.get('zipCode')?.hasError('required')) {
              <mat-error>Teléfono is <strong>required</strong></mat-error>
              } @if (deliveryDataForm.get('zipCode')?.hasError('minlength')) {
              <mat-error>
                Password should have at least
                <strong>8 characters</strong>
              </mat-error>
              }
            </mat-form-field>
          </div>
          <div class="d-flex justify-content-between mt-1">
            <mat-form-field appearance="outline" class="cla mw-100">
              <mat-label>Direccion</mat-label>
              <input formControlName="address" type="text" matInput />

              <div matSuffix class="m-2 mt-4 icons-container">
                <mat-icon>place</mat-icon>
                @if (deliveryDataForm.get('address')?.valid &&
                (deliveryDataForm.get('address')?.dirty ||
                deliveryDataForm.get('address')?.touched)) {
                <mat-icon class="success-icon fade-in" style="color: green"
                  >check_circle</mat-icon
                >
                }
              </div>

              @if (deliveryDataForm.get('email')?.hasError('email') &&
              !deliveryDataForm.get('email')?.hasError('required')) {
              <mat-error>Please enter a valid email address</mat-error>
              } @if (deliveryDataForm.get('email')?.hasError('required')) {
              <mat-error>Email is <strong>required</strong></mat-error>
              }
            </mat-form-field>
          </div>
        <button
          mat-raised-button
          class="w-25 bg-dark text-white mt-3"
          mat-button
          matStepperNext
          (click)="onNext($event)"
          type="submit"
          color="primary"
        >
          Siguiente
        </button>
      </form>
    </mat-step>
    <mat-step>
      <form [formGroup]="paymentDataForm">
        <p>Método de pago</p>
        <mat-button-toggle-group
          class="w-100"
          name="fontStyle"
          aria-label="Font Style"
        >
          <mat-button-toggle value="bold" style="width: 33%"
            ><img class="mt-1" width="40" src="assets/mercadopago.png" alt="" />
            <p class="m-0 p-0">Mercadopago</p></mat-button-toggle
          >
          <mat-button-toggle value="italic" style="width: 33%" disabled
            ><img class="mt-2" width="35" src="assets/paypal.png" alt="" />
            <p class="m-0 p-0">Paypal</p></mat-button-toggle
          >
          <mat-button-toggle value="underline" style="width: 33%" disabled
            ><img class="mt-1" width="40" src="assets/tarjetas.png" alt="" />
            <p class="m-0 p-0">Tarjeta Débito/Crédito</p></mat-button-toggle
          >
        </mat-button-toggle-group>
        <ng-template matStepLabel>Ir a pagar</ng-template>
        <div class="mt-3">
          <h6 class="">Precio final:</h6>
          <h3 class="">{{ this.currentCart.finalPrice.toFixed(2) }}</h3>
        </div>
        <div class="w-100 d-flex">
          <button
            mat-raised-button
            class="m-3 w-50 bg-dark text-white"
            color="accent"
            (click)="abrirPago()"
            [disabled]="!responser"
          >
            Finalizar compra
          </button>

          <button
            mat-raised-button
            class="m-3 w-25 bg-dark text-white"
            mat-button
            matStepperPrevious
          >
            Volver
          </button>
        </div>
      </form>
    </mat-step>
  </mat-stepper>
</div>
