<mat-nav-list>
  <div
    class="d-flex align-items-center m-3 border-bottom justify-content-center"
  >
    <mat-icon>shopping_cart</mat-icon>
    <h2 class="m-3 mt-1 empty-cart-text">Mi carrito</h2>
  </div>

  @if (this.currentCart.totalItems === 0) {
  <div class="text-center">
    <h3 class="empty-cart-text">Tu carrito está vacío.</h3>
    <p class="text-secondary">Te ayudamos a buscar lo que encontrás.</p>
    <a href="">Ver productos.</a>
  </div>
  }

  <app-cart-items [isSideCartOpen]="isSideCartOpen"></app-cart-items>
  @if (this.currentCart.totalItems > 0) {
  <div class="total w-100">
    <div class="d-flex justify-content-center mt-3">
      <div class="d-flex align-items-center input-group w-75">
        <mat-icon class="ship-icon bg-dark p-2"> local_shipping</mat-icon>
        <input
          type="text"
          class="form-control"
          placeholder="Código postal"
          aria-label="Código postal"
          aria-describedby="button-addon2"
        />
        <button
          mat-raised-button
          class="btn text-white bg-dark btn-outline-secondary"
          type="button"
          id="button-addon2"
        >
          Calcular envío
        </button>
      </div>
    </div>
    <div
      class="d-flex flex-column align-items-center w-100 justify-content-around mt-1"
    >
      <div
        class="d-flex flex-column w-75 align-items-center justify-content-between"
      >
        <div class="w-100 text-secondary">
          <a href="" (click)="toggleDetails($event)" style="font-size: 13px"
            ><b>Ver detalle</b></a
          >
        </div>
        <div
          class="d-flex flex-column w-100 details"
          [ngClass]="{ visible: showDetails }"
        >
          <span><i>Subtotal:</i><b> ${{ this.currentCart.finalPrice }}</b></span>
          <span><i>Descuentos:</i></span>
          <span><i>Envío:</i></span>
        </div>
        <div class="d-flex w-100 justify-content-between text-black">
          <h5 class="">TOTAL</h5>
          <h4 class="">${{ this.currentCart.finalPrice }}</h4>
        </div>
      </div>
      <button
        mat-raised-button
        class="btn bg-dark text-white w-75"
        color="accent"
        (click)="checkoutEvent()"
      >
        Finalizar mi compra
      </button>
    </div>
  </div>
  }
</mat-nav-list>
