h2 {
  margin: 2rem;
  font-size: 2rem;
}


.mat-fab {
  position: fixed;
  bottom: 2rem; /* Ajusta la distancia desde la parte inferior según tus necesidades */
  left: 2rem;
  z-index: 10;
}

.cart-item {
  opacity: 0;
  transform: translateX(100%); /* Cambiado para que entre desde la derecha */
  transition: opacity 0.25s ease, transform 0.25s ease;
  cursor: pointer;
}

/* Clase que se aplica cuando se abre el carrito */
.side-cart-open .cart-item {
  opacity: 1;
  transform: translateX(0); /* Al abrir, se establece en su posición original */
}

/* Clase para aplicar delay a cada item */
.cart-item-delay {
  transition-delay: var(--delay);
}

.name-size-container {
  margin-left: 0.5rem;
}

.minifab {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 0.5rem;
  opacity: 100%;
}

.minifabempty {
  position: absolute;
  width: 2rem;
  height: 2rem;
  left: 2.7rem;
  top: 1.7rem;
  z-index: 10101;
  opacity: 100%;
}

.imgcartside {
  width: 6rem;
  border-radius: 1rem;
}

.cart-items-container {
  overflow-y: auto; /* Asegura que haya scroll cuando sea necesario */
  overflow-x: hidden;
  max-height: 22rem; /* Define el tamaño máximo del contenedor */
  box-sizing: border-box; /* Asegura que el padding y borde se incluyan dentro del tamaño */
  position: relative;
}

*::-webkit-scrollbar {
  width: 0.25rem;
  background-color: transparent;
}

*::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 1rem 1rem 1rem 1rem;
}

*::-webkit-scrollbar-thumb {
  background-color:lightgray;
}
