<div class="d-flex">
  @for (img of this.IMGS_BANNER_HEADER; track img) {
  <img class="img-banner" src="{{ img }}" alt="" />
  }
</div>
<div class="container text-black">
  <div
    class="d-flex flex-column w-100 justify-content-center align-items-center"
  >
    <div
      class="text-center w-100 d-flex align-items-center mb-3 flex-wrap"
      style="color: whitesmoke"
    >
      <div class="w-100 text-black">
        <h1>FEEL THE UNREAL</h1>
        <hr />
      </div>
    </div>
  </div>

  <app-articles-display></app-articles-display>
</div>
