<nav class="navbar navbar-expand-lg bg-white" style="z-index: 7;">
  <div class="container-fluid">
    <!-- Logo -->
    <div class="col-3 d-flex justify-content-center">
      <a [routerLink]="['']">
        <img
          class="logo-nav"
          src="https://nikearprod.vtexassets.com/assets/vtex/assets-builder/nikearprod.store/2.0.63/icons/Assets_for_off%20platform/swoosh___33f7ffaf2fc124733c2c4a60a12a1160.svg"
          alt="Logo"
        />
      </a>
    </div>

    <!-- Botón Hamburguesa -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menú colapsable -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul
        class="navbar-nav col-12 me-auto mb-2 mb-lg-0 d-flex justify-content-center"
      >
        <!-- Iteración de categorías -->
         @for (category of categories; track category) {
        <li class="nav-item w-100">
          <button
            class="text-black w-100 btn btn-primary dropdown-toggle"
            mat-button
            [matMenuTriggerFor]="menu"
          >
            <i class="bi bi-shop rounded p-1"></i>
            <b>{{ category.name | capitalize }}</b>
          </button>

          <!-- Submenú de categorías con Angular Material -->
          <mat-menu class="bg-white" #menu="matMenu" [overlapTrigger]="false">
            <ng-container
              *ngIf="category.subcategories.length > 0; else noSubcategories"
            >
            @for (subcategory of category.subcategories; track subcategory) {
              <button
                mat-menu-item
                [routerLink]="['/tienda', category.name, subcategory.name]"
              >
                {{ subcategory.name | capitalize | replaceChar: '-':' ' }}
              </button>
            }
            </ng-container>
            <ng-template #noSubcategories>
              <button mat-menu-item>No hay subcategorías</button>
            </ng-template>
          </mat-menu>
        </li>
      }
      </ul>
    </div>
  </div>
</nav>
