<nav class="navbar navbar-expand-lg bg-white">
  <div class="container-fluid row">
    <div class="col-3 d-flex justify-content-center">
      <a [routerLink]="['/']">
        <img
          class="logo-nav"
          src="https://nikearprod.vtexassets.com/assets/vtex/assets-builder/nikearprod.store/2.0.63/icons/Assets_for_off%20platform/swoosh___33f7ffaf2fc124733c2c4a60a12a1160.svg"
          alt="Logo"
        />
      </a>
    </div>
    <ul
      class="navbar-nav col-8 me-auto mb-2 mb-lg-0 d-flex justify-content-center"
    >
      @for (category of categories; track category) {
      <li class="nav-item w-25">
        <button
          class="text-black w-75 btn btn-primary dropdown-toggle"
          mat-button
          [matMenuTriggerFor]="menu"
        >
          <i class="bi bi-shop rounded p-1"></i>
          <b>{{ category.name | capitalize }}</b>
        </button>

        <mat-menu #menu="matMenu" [overlapTrigger]="false">
          @if (category.subcategories.length > 0) {
          <ng-container>
            @for (subcategory of category.subcategories; track subcategory) {
            <button
              mat-menu-item
              [routerLink]="['/tienda', category.name, subcategory.name]"
            >
              {{ subcategory.name | capitalize | replaceChar : "-" : " " }}
            </button>
            }
          </ng-container>
          }
          <ng-template #noSubcategories>
            <button mat-menu-item>No hay subcategorías</button>
          </ng-template>
        </mat-menu>
      </li>
      }
    </ul>
  </div>
</nav>
