<h2>Talles disponibles</h2>

<div class="d-flex flex-wrap">
  @for (size of itemSizes; track size) {
  <div
    class="text-center d-flex justify-content-center col-xl-2 col-sm-2 p-3 rounded m-1 size border"
    [ngClass]="{
      noAvailableSize: size.quantity === 0,
      'selected-size': size.size == selectedSize
    }"
    (click)="selectSize(size.size)"
  >
    <span>{{ size.size }}</span>
  </div>
  }

  <button
    mat-raised-button
    class="btn bg-dark text-white w-100 mt-2"
    color="accent"
  >
    Seleccionar talle
  </button>
</div>
