
.size {
  border-radius: 10rem;
  background-color: white;
  border: 1px solid black;
}

.noAvailableSize {
  opacity: 0.25;
  cursor: not-allowed;
}

.size:hover:not(.noAvailableSize) {
  background-color: black;
  color: white;
  cursor: pointer;
}

a {
  color: black;
}

.selected-size {
  background-color: black;
  color: white;
}
