<div class="w-100 bg-dark d-flex justify-content-center p-2 text-white">
  <b><span>6 cuotas sin interés en todo el sitio</span></b>
</div>
<app-navbar></app-navbar>
<div
  id="carouselExampleInterval"
  class="carousel slide"
  data-bs-ride="carousel"
  class="text-black"
  class="bg-light text-dark"
>
  <div class="carousel-inner text-center text-black">
    @for (item of carouselHeaderObject; track item; let i = $index) {
    <div
      class="carousel-item mt-2"
      [ngClass]="{ active: i === 0 }"
      data-bs-interval="5000"
    >
      {{ item.key }}
      <p>
        <a href="">{{ item.value }}</a>
      </p>
    </div>
    }
  </div>
</div>
