mat-drawer {
  position: fixed;
  top: 0;
  width: 30%;
}

.total {
  position: absolute;
  bottom: 1rem;
}

.empty-cart-text {
  font-family: "Anton SC", sans-serif;
}

.buttons {
  width: 90%;
}

a {
  color: black;
}
