button {
  border-radius: 3rem;
}

::ng-deep .ngxImageZoomContainer > img{
  max-height: 32rem;
  max-height: 32rem;
}

h1 {
  font-weight: bold;
}

.noAvailableSize {
  opacity: 0.25;
  cursor: not-allowed;
}

.size:hover:not(.noAvailableSize) {
  background-color: black;
  color: white;
  cursor: pointer;
}

.cuotas-cartel {
  height: 4rem;
}

a {
  color: black;
}

.miniimgs {
  z-index: 10000;
  cursor: pointer;
}

.selected-img {
  border: 0.5px solid black;
}

.selected-size {
  background-color: black;
  color: white;
}

.discount {
  margin-left: 0.5rem;
  color: green;
}

.acordiontitle {
  font-weight: 500;
}

lib-ngx-image-zoom {
  width: 100%;
  height: auto; /* Mantiene las proporciones de la imagen */
  max-width: 100%; /* Imagen no será más grande que el contenedor */
  object-fit: contain; /* Ajuste dentro del contenedor */
}

@media (max-width: 768px) {
  .miniimgs {
    display: none;
  }

  .size {
    width: 20%;
  }

  .div-half-one {
    width: 100%;
  }

  .div-half-two {
    width: 100%;
  }
}
