.div-half-two {
   overflow-y: auto; 
   scrollbar-width: thin;
}

.mini {
  box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.selected-img {
  border: 0.5px solid gainsboro;
}

@media (max-width: 768px) {
  .miniimgs {
    display: none;
  }

  .size {
    width: 20%;
  }

  .div-half-one {
    width: 100%;
  }

  .div-half-two {
    width: 100%;
    height: auto;
    margin-top: 2rem;
  }

  button {
    margin-bottom: 2rem;
    z-index: 10000000;
  }
}
