<div class="container text-black pb-4 pt-4">
  <p-card>
    <div class="row m-2">
      <div class="col-xl-6 col-md-12 div-half-one">
        <div class="row d-flex align-items-center h-100">
          <div class="col col-xl-2 col-md-2 col-sm-3 miniimgs">
            @for (item of product?.miniimgs; track item) {
            <div>
              <img
                [ngClass]="{ 'selected-img': selectedImage === item }"
                class="w-100 rounded mb-3 mini"
                (click)="changeImage(item)"
                src="{{ item }}"
                alt=""
              />
            </div>
            }
          </div>
          <div class="col col-xl-10 col-md-10 col-sm-12 borders">
            <img
              class="mini img"
              src="{{ selectedImage }}"
              alt=""
              style="width: 100%"
            />
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-md-12 col-sm-12 div-half-two mini">
        <div class="row bg-white rounded">
          <h3 class="mt-3 text-black">{{ product?.name }}</h3>
          <div class="d-flex justify-content-between">
            <p class="text-secondary">{{ product?.shortdescription }}</p>

            <p-rating class="" [(ngModel)]="value" />
          </div>
          <p class="text-dark" style="font-size: 12px">
            {{ product?.description }}
          </p>

          <h6 class="">
            <div class="d-flex align-items-center">
              @if (product?.discount > 0) {
              <div class="w-100">
                <span
                  class="text-secondary fw-light text-danger"
                  style="text-decoration: line-through"
                >
                  ${{ product?.price | number }}
                </span>
                <div class="d-flex justify-content-between w-100">
                <h5 class="text-black">
                  ${{
                    (product.price | discountPrice : product.discount)
                      .discountedPrice | number
                  }}
                </h5>
                <i class="card-text discount">
                  {{ product.discount }}% de descuento
                </i>
              </div>
              </div>

              } @else {
              <ng-template #noDiscount>
                <b>${{ product?.price | number }}</b>
              </ng-template>
              }
            </div>
          </h6>
          <hr />

          <div class="d-flex flex-column flex-wrap">
            <app-sizes-available
              [itemSizes]="product?.sizes"
              (isSized)="onSizedChange($event)"
            ></app-sizes-available>

            <button
              mat-raised-button
              class="btn btn-primary w-100 p-2 d-flex align-items-center justify-content-center bg-dark border-0"
              (click)="addProduct({product, cantidad: 1, sizes: [{size: '', quantity: 0}]}, product.name)"
              [disabled]="!selectedSize"
            >
              <b>Añadir al carrito</b>
              <mat-icon>add_shopping_cart</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>
  </p-card>
</div>
