<p-skeleton
  *ngIf="isLoading"
  shape="rectangle"
  width="100%"
  height="28rem"
></p-skeleton>

<mat-card
  class="product-card"
  *ngIf="!isLoading"
  style="height: auto; min-height: 28rem"
  [ngStyle]="{ 'animation-delay': delay + 's' }"
>
  <div class="d-flex justify-content-center">
    <img
      class="card-img-top"
      src="{{ productSend.image }}"
      alt="Card image cap"
      [routerLink]="['/product', productSend.id]"
    />
  </div>

  <div class="card-body">
    <div class="card-details">
      <h6 class="">{{ productSend.name }}</h6>
      <p class="card-text text-secondary">{{ productSend.shortdescription }}</p>
    </div>
    <div
      class="d-flex justify-content-center w-100 mb-1 card-product-price mt-3"
    >
      <h6 class="m-1">
        <b *ngIf="productSend.discount > 0; else noDiscount">
          <span
            class="text-secondary fw-light"
            style="text-decoration: line-through"
          >
            ${{ productSend.price | number }}
          </span>
          <span>
            ${{
              (productSend.price | discountPrice : productSend.discount)
                .discountedPrice | number
            }}
          </span>
        </b>
        <ng-template #noDiscount>
          <b>${{ productSend.price | number }}</b>
        </ng-template>
      </h6>
    </div>
    @if (productSend.discount !== "0") {
    <b
      ><i
        ><span class="card-text discount"
          >{{ productSend.discount }}% de descuento</span
        ></i
      ></b
    >
    }
  </div>
</mat-card>
