mat-card {
  background-color: whitesmoke;
}

:host ::ng-deep {
  [pDraggable] {
    cursor: move;
  }
}

.card {
  width: 18rem;
  height: 30rem;
  margin-bottom: 1rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-product-price {
  border-radius: 3rem;
  border: 3px solid white;
  background-color: whitesmoke;
}

.card-img-top {
  width: 100%;
  height: 18rem;
  border-radius: 1rem;
  border: 2px solid white;
  cursor: pointer;
  margin: 1rem;
}

.title-product {
  font-size: medium;
}

.discount {
  color: green;
  font-weight: 600;
}

button {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-card {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
