@if (isLoading) {
<p-skeleton shape="rectangle" width="100%" height="28rem"></p-skeleton>
} @else {
<mat-card
  pDraggable
  (onDragStart)="dragStart()"
  (onDragEnd)="dragEnd()"
  class="product-card text-black"
  [ngStyle]="{ 'animation-delay': delay + 's' }"
>
  @if (productSend.discount > 0) {
  <button
    class="discount-mini-fab text-success"
    mat-mini-fab
    aria-label="Example icon button with a menu icon"
  >
    <b>-{{ productSend.discount }}%</b>
  </button>
  }
  <div class="d-flex w-100 justify-content-center">
    <img
      class="card-img-top"
      src="{{ productSend.image }}"
      alt="Card image cap"
      [routerLink]="['/product', productSend.id]"
    />
  </div>

  <div class="card-details">
    <h2>{{ productSend.name }}</h2>
    <p class="card-text text-secondary">{{ productSend.shortdescription }}</p>
    <div class="w-100 card-product-price">
      <h6>
        @if (productSend.discount > 0) {
        <b>
          <span class="text-secondary fw-light text-danger old-price">
            ${{ productSend.price | number }}
          </span>
          <h5>
            ${{
              (productSend.price | discountPrice : productSend.discount)
                .discountedPrice | number
            }}
          </h5>
        </b>
        } @else {
        <h5>${{ productSend.price | number }}</h5>
        }
      </h6>
    </div>
  </div>
</mat-card>
}
