mat-card {
  background-color: #F6F6F6;
  height: auto; 
  min-height: 28.5rem;
  font-family: "Helvetica Neue Regular";

}

h2 {
  font-weight: 600;
}

:host ::ng-deep {
  [pDraggable] {
    cursor: move;
  }
}

.old-price {
  text-decoration: line-through; 
  font-size: 13px;
}

.card {
  width: 18rem;
  height: 28rem;
  margin-bottom: 1rem;
}

.card-details {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  margin-top: 0 ;
}

.card-product-price {
  border-radius: 3rem;
}

.card-img-top {
  width: 90%;
  height: 18rem;
  border-radius: 1rem;
  border: 2px solid rgb(236, 234, 234);
  cursor: pointer;
  margin: 1rem;
}

.title-product {
  font-size: medium;
}

.discount-mini-fab {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 1rem;
  background-color: whitesmoke;
  padding: 2rem;
}

button {
  cursor: pointer;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.product-card {
  opacity: 0;
  animation: fadeIn 2s forwards;
}
