<div
  class="w-100 d-flex align-items-center flex-column cart-items-container"
  [ngClass]="{ 'side-cart-open': isSideCartOpen }"
>
  @for (itemcart of currentCart.items; let i = $index; track itemcart) {

    <div
      class="mt-2 rounded d-flex justify-content-around align-items-center bg-white p-2  cart-item cart-item-delay"  
      style="width: 90%"
      [ngStyle]="{ '--delay': i * 100 + 'ms' }"
    >
      <div
        class="d-flex w-100 justify-content-around align-items-center"
      >
        <div class="d-flex w-100">
          <div class="d-flex justify-content-center ml-2">
            <img
              class="imgcartside"
              src="{{ itemcart.product.image }}"
              alt=""
            />
            <button class="minifab b" mat-mini-fab color="accent">
              <b>{{ itemcart.cantidad }}</b>
            </button>
          </div>
          <div class="d-flex flex-column justify-content-center mt-3 name-size-container">
            <b style="font-size: 13px">{{ itemcart.product.name }}</b>
            <p style="font-size: 13px">
              <i>Talle: </i
              ><a class="text-black" (click)="showDialog($event)" href=""
                >Ver talles disponibles</a
              >
            </p>
          </div>
        </div>
        <p-button
          icon="pi pi-trash"
          [style]="{ 'margin-left': '0.5rem', 'border-radius': '0.5rem' }"
          severity="secondary"
          (click)="deleteItem(itemcart)"
        />
      </div>
    </div>

  <p-dialog
    [modal]="true"
    [(visible)]="visible"
    [style]="{ width: '25rem' }"
  >
    <app-sizes-available
      [itemSizes]="itemcart.product.sizes"
    ></app-sizes-available>
  </p-dialog>
  }
</div>
