<div class="mat-fab">
  <button class="minifab" mat-mini-fab color="accent">
    <b>{{ this.cartSer.cart.items.length }}</b>
  </button>
  <button
    class="minifabempty"
    mat-mini-fab
    mat-mini-fab
    color="accent"
    (click)="cleanCartEvent()"
    [disabled]="cartSer.cart.items.length == 0"
  >
    <mat-icon>remove_shopping_cart</mat-icon>
  </button>
  <button
    (click)="this.drawer.toggle()"
    mat-fab
    color="accent"
    [disabled]="cartSer.cart.items.length == 0"
  >
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" position="end">
    <mat-nav-list>
      <div class="d-flex align-items-center m-3 border-bottom">
        <mat-icon>shopping_cart</mat-icon>
        <h2 class="m-3">Mi carrito:</h2>
      </div>

        <app-cart-items></app-cart-items>
      <div class="d-flex align-items-center w-100 justify-content-around mt-3">
        <div class="">
          <h3 class="">Precio final:</h3>
          <h2 class="">{{ this.cartSer.cart.finalPrice }}</h2>
        </div>
        <button
          mat-raised-button
          class="btn"
          color="accent"
          (click)="checkoutEvent(drawer)"
        >
          Checkout
        </button>
      </div>
    </mat-nav-list>
  </mat-drawer>

  <mat-drawer-content
    style="min-height: 100vh; max-width: 100wh; background-color:white"
  >
  <app-header></app-header>
    <router-outlet> </router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
