<div class="mat-fab">
  <button class="minifab" mat-mini-fab color="accent">
    <b>{{ this.currentCart.totalItems }}</b>
  </button>
  <button
    class="minifabempty"
    mat-mini-fab
    mat-mini-fab
    color="accent"
    (click)="cleanCartEvent()"
    [disabled]="this.currentCart.items.length == 0"
  >
    <mat-icon>remove_shopping_cart</mat-icon>
  </button>
  <button (click)="toggleDrawer()" mat-fab color="accent">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</div>
<mat-drawer-container autosize>
  <mat-drawer #drawer mode="side" position="end" pDroppable (onDrop)="onDrop()">
    <app-side-cart [isSideCartOpen]="isSideCartOpen"></app-side-cart>
  </mat-drawer>

  <mat-drawer-content
    style="min-height: 100vh; max-width: 100wh; background-color: white"
  >
    <app-header></app-header>
    <router-outlet> </router-outlet>
    <app-footer></app-footer>
  </mat-drawer-content>
</mat-drawer-container>
