<mat-drawer #drawerr class="drawer-resp" mode="side" style="z-index: 1000">
  <div
    class="w-100 d-flex justify-content-between mt-2 mb-2 align-items-center"
    (click)="drawerr.toggle()"
  >
    <h1>Filtros</h1>
    <mat-icon class="m-2 icon-close">close</mat-icon>
  </div>
  <app-accordion-filters
    [sizesReceived]="sizes"
    [range]="rangeValues"
    (filtersChanged)="onFiltersChanged($event)"
  ></app-accordion-filters>
  <div class="d-flex w-100 justify-content-end">
    <a class="clean m-2" (click)="this.cleanFilters()"
      ><p>Limpiar filtros</p></a
    >
  </div>
</mat-drawer>
<mat-drawer-container autosize>
  <mat-drawer
    class="w-25 bg-light text-black filtersSideBar"
    #drawer
    mode="side"
    opened
    (openedChange)="onDrawerToggle($event)"
  >
    <div
      class="w-100 d-flex justify-content-between mt-2 mb-2 align-items-center"
      (click)="drawer.toggle()"
    >
      <h1>Filtros</h1>
      <mat-icon class="m-2 icon-close">close</mat-icon>
    </div>

    <app-accordion-filters
      [sizesReceived]="sizes"
      [range]="rangeValues"
      (filtersChanged)="onFiltersChanged($event)"
    ></app-accordion-filters>
    <div class="d-flex w-100 justify-content-end">
      <a class="clean m-2" (click)="this.cleanFilters()"
        ><p>Limpiar filtros</p></a
      >
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <div class="example-sidenav-content"></div>

    <div class="container text-black">
      <div class="d-flex align-items-center justify-content-around resp-bar">
        <div>
          <i
            ><h5>
              {{ this.category | capitalize }}/{{
                this.subcategory | capitalize | replaceChar : "-" : " "
              }}
            </h5></i
          >
        </div>
        <div class="d-flex" (click)="drawerr.toggle()" style="z-index: 9">
          <mat-icon>filter_list</mat-icon><i><h4>Filtros</h4></i>
        </div>
      </div>
      <div class="w-100 d-flex flex-column justify-content-end align-items-end">
        <h2 class="titulo mb-4">Shop</h2>
        <div class="d-flex justify-content-between align-items-center w-100">
          <i>Productos encontrados: {{ products.length }}</i>
          <div class="d-flex filterStateAction">
            <mat-icon class="m-1">filter_list</mat-icon>
            <h4 mat-icon-button (click)="drawer.toggle()">
              {{ filtersState }} filtros
            </h4>
          </div>
        </div>
        <!--  <button class="btn btn-primary bg-dark border-0">
          Order by Most Recent
        </button>-->
      </div>
      <div class="container mt-2">
        @if (this.products.length === 0) {
        <p>No se encontraron productos</p>
        }
        <div class="row d-flex justify-content-center">
          @for (product of products; track product) {
          <app-product-card
            class="col-xl-4 col-md-5 col-10 mb-4 text-center"
            [productSend]="product"
            [isLoading]="isLoading"
          ></app-product-card>
          }
        </div>
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
