  

  <p-carousel
    [value]="products" 
    [numVisible]="3" 
    [numScroll]="1"
    [responsiveOptions]="responsiveOptions">
        <ng-template let-product pTemplate="item">
            <div
            class="row card-container w-100 d-flex justify-content-around mt-4 mb-4"
          >
            <div
              class="col-xl-12 col-md-8 col-sm-10 text-center m-2 text-dark"
            >
            <app-product-card 
                [productSend]="product"
                [isLoading]="isLoading"
              ></app-product-card>
            </div>
          </div>
        </ng-template>
</p-carousel>