<mat-drawer-container class="example-container" style="height: 100vh" autosize>
  <mat-drawer
    #drawer
    style="width: 18%"
    class="bg-white example-sidenav"
    mode="side"
  >
    <p>Auto-resizing sidenav</p>
  </mat-drawer>
  <div class="container">
    <div class="card d-flex border-0">
      <mat-toolbar>
        <div class="d-flex align-items-center">
          <button
            (click)="drawer.toggle()"
            mat-icon-button
            class="example-icon"
            aria-label="Example icon-button with menu icon"
          >
            <mat-icon>menu</mat-icon>
          </button>
          <span>Dashboard</span>
          <span class="example-spacer"></span>
        </div>
        <div class="d-flex align-items-center justify-content-end w-100">
          <i
            class="pi pi-bell mr-4 p-text-secondary"
            pBadge
            style="font-size: 2rem; margin-right: 1rem"
            value="2"
          ></i>
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            styleClass="mr-2"
            size="large"
            shape="circle"
          />
        </div>
      </mat-toolbar>
    </div>
    <div class="row justify-content-around">
      <div
        class="col-2 visits p-3 d-flex align-items-center flex-column"
      >
        <div class="w-100 d-flex justify-content-between">
          <div
            style="border-radius: 2rem"
            class="bg-white d-flex align-items-center p-2"
          >
            <mat-icon>remove_red_eye</mat-icon>
          </div>
          <div class="d-flex flex-column">
            <i class="fs13 text-end">Total Visits</i>
            <div class="d-flex flex-column align-items-center">
              <b>$1000</b>
              <i class="fs11">This month</i>
            </div>
          </div>
        </div>
        <div
          class=" d-flex justify-content-between w-100 align-items-center fs13 mt-2"
        >
          <i>Since last month:</i>
          <b>xxx%</b>
        </div>
        <div>
          <apx-chart
            [series]="miniChartOptions.series"
            [chart]="miniChartOptions.chart"
            [xaxis]="miniChartOptions.xaxis"
            [yaxis]="miniChartOptions.yaxis"
            [title]="miniChartOptions.title"
            [dataLabels]="miniChartOptions.dataLabels"
            [grid]="miniChartOptions.grid"
            [tooltip]="miniChartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>

      <div class="col-2 sales p-3 d-flex align-items-center flex-column">
        <div class="w-100 d-flex justify-content-between">
          <div
            style="border-radius: 2rem"
            class="bg-white d-flex align-items-center p-2"
          >
            <mat-icon> monetization_on</mat-icon>
          </div>
          <div class="d-flex flex-column">
            <i class="fs13 text-end">Total Sales</i>
            <div class="d-flex flex-column align-items-center">
              <b>$1000</b>
              <i class="fs11">This month</i>
            </div>
          </div>
        </div>
        <div
          class=" d-flex justify-content-between w-100 align-items-center fs13 mt-2"
        >
          <i>Since last month:</i>
          <b>xxx%</b>
        </div>
        <div>
          <apx-chart
            [series]="miniChartOptions.series"
            [chart]="miniChartOptions.chart"
            [xaxis]="miniChartOptions.xaxis"
            [yaxis]="miniChartOptions.yaxis"
            [title]="miniChartOptions.title"
            [dataLabels]="miniChartOptions.dataLabels"
            [grid]="miniChartOptions.grid"
            [tooltip]="miniChartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
      <div class="col-2 orders p-3 d-flex align-items-center flex-column">
        <div class="w-100 d-flex justify-content-between">
          <div
            style="border-radius: 2rem"
            class="bg-white d-flex align-items-center p-2"
          >
            <mat-icon> receipt</mat-icon>
          </div>
          <div class="d-flex flex-column">
            <i class="fs13 text-end">Total Orders</i>
            <div class="d-flex flex-column align-items-center">
              <b>$1000</b>
              <i class="fs11">This month</i>
            </div>
          </div>
        </div>
        <div
          class=" d-flex justify-content-between w-100 align-items-center fs13 mt-2"
        >
          <i>Since last month:</i>
          <b>xxx%</b>
        </div>
        <div>
          <apx-chart
            [series]="miniChartOptions.series"
            [chart]="miniChartOptions.chart"
            [xaxis]="miniChartOptions.xaxis"
            [yaxis]="miniChartOptions.yaxis"
            [title]="miniChartOptions.title"
            [dataLabels]="miniChartOptions.dataLabels"
            [grid]="miniChartOptions.grid"
            [tooltip]="miniChartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
      <div class="col-2 purchases p-3 d-flex align-items-center flex-column">
        <div class="w-100 d-flex justify-content-between">
          <div
            style="border-radius: 2rem"
            class="bg-white d-flex align-items-center p-2"
          >
            <mat-icon>store</mat-icon>
          </div>
          <div class="d-flex flex-column">
            <i class="fs13 text-end">Total Purchases</i>
            <div class="d-flex flex-column align-items-center">
              <b>$1000</b>
              <i class="fs11">This month</i>
            </div>
          </div>
        </div>
        <div
          class=" d-flex justify-content-between w-100 align-items-center fs13 mt-2"
        >
          <i>Since last month:</i>
          <b>xxx%</b>
        </div>
        <div>
          <apx-chart
            [series]="miniChartOptions.series"
            [chart]="miniChartOptions.chart"
            [xaxis]="miniChartOptions.xaxis"
            [yaxis]="miniChartOptions.yaxis"
            [title]="miniChartOptions.title"
            [dataLabels]="miniChartOptions.dataLabels"
            [grid]="miniChartOptions.grid"
            [tooltip]="miniChartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>

      <div class="col-2 growth p-3 d-flex align-items-center flex-column">
        <div class="w-100 d-flex justify-content-between">
          <div
            style="border-radius: 2rem"
            class="bg-white d-flex align-items-center p-2"
          >
            <mat-icon>trending_up</mat-icon>
          </div>
          <div class="d-flex flex-column">
            <i class="fs13 text-end">Total Growth</i>
            <div class="d-flex flex-column align-items-center">
              <b>$1000</b>
              <i class="fs11">This month</i>
            </div>
          </div>
        </div>
        <div
          class=" d-flex justify-content-between w-100 align-items-center fs13 mt-2"
        >
          <i>Since last month:</i>
          <b>xxx%</b>
        </div>
        <div>
          <apx-chart
            [series]="miniChartOptions.series"
            [chart]="miniChartOptions.chart"
            [xaxis]="miniChartOptions.xaxis"
            [yaxis]="miniChartOptions.yaxis"
            [title]="miniChartOptions.title"
            [dataLabels]="miniChartOptions.dataLabels"
            [grid]="miniChartOptions.grid"
            [tooltip]="miniChartOptions.tooltip"
          ></apx-chart>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <p-card class="col-7">
        <div>
          <apx-chart
            [series]="chartOptions.series"
            [chart]="chartOptions.chart"
            [xaxis]="chartOptions.xaxis"
            [title]="chartOptions.title"
          ></apx-chart>
        </div>
      </p-card>
      <p-card class="col-5">
        <div>
          <apx-chart
            [series]="donutChartOptions.series"
            [chart]="donutChartOptions.chart"
            [legend]="donutChartOptions.legend"
            [fill]="donutChartOptions.fill"
            [title]="donutChartOptions.title"
          ></apx-chart>
        </div>
      </p-card>
    </div>
  </div>
</mat-drawer-container>
