



nav {
  min-height: 3.5rem;
}

h1 {
  font-family: "Anton SC", sans-serif;

}

a {
  text-decoration: none;
}

.logo-nav {
  width: 3rem; 
  border-radius: 1rem;
  margin-left: 2.5rem;
}

.nav-toggle-btn {
  width: 2.5rem;
  border-radius: 0.5rem;
}

button {
  background-color: initial;
  border: none;
  color: black;
  font-weight: 300;
}

nav button:hover {
  background-color: initial;
  border-bottom: 1px solid black;
  border-radius: 0;
}

button:active {
  background-color: initial;
  border-bottom: 2px solid black;
  border-radius: 0;
}

button:disabled {
  
  color: grey;
}

/* Centrar los elementos dentro del navbar */
.navbar-nav {
    flex-direction: row;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 10px; /* Espaciado entre elementos */
  }
  
  /* Para centrar el texto en los enlaces del dropdown */
  .nav-link {
    text-align: center; 
  }
  
  /* Ajustes adicionales para la visualización en dispositivos móviles */
  @media (max-width: 768px) {
    .navbar-nav {
      flex-direction: column; /* Cambia a columna en pantallas pequeñas */
      align-items: center; /* Centra los elementos */
    }
  }