
.size {
  cursor: pointer;
}

.noAvailableSize {
  opacity: 0.25;
  cursor: not-allowed;
}

.size:hover:not(.noAvailableSize) {
  background-color: black;
  color: grey;
  cursor: pointer;
}

a {
  color: black;
}

.selected-size {
  background-color: red;
  color: black;
  border: 1px solid grey;
}
